<h1 mat-dialog-title>Восстановление пароля</h1>
<hr />
<form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Email" formControlName="email" name="email" id="email" required />
      <mat-error *ngIf="hasError('email', 'required')">Введите e-mail</mat-error>
      <mat-error *ngIf="hasError('email', 'maxlength')">Максимальное количество символов 120!</mat-error>
      <mat-error *ngIf="hasError('email', 'pattern')">Введите корректный e-mail</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group text-right">
    <button mat-button (click)="onCloseClick()">Закрыть</button>
    <button mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid" (click)="forgotPassword()">
      Восстановить
    </button>
  </div>
</form>