<h1 mat-dialog-title>Редактирование данных компании</h1>
<hr />
<form [formGroup]="changeCompanyForm" autocomplete="off" novalidate>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Название компании" formControlName="name" name="name" id="name"
        required />
      <mat-error *ngIf="hasError('name', 'required')">Поле обязательное</mat-error>
      <mat-error *ngIf="hasError('name', 'maxlength')">Максимальное количество символов 120!</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="URL адрес компании" formControlName="url" name="url" id="url" required />
      <mat-error *ngIf="hasError('url', 'required')">Поле обязательное</mat-error>
      <mat-error *ngIf="hasError('url', 'pattern')">
        Невалидное значение. Разрешенные символы: a-z, A-Z, 0-9, _.
      </mat-error>
      <mat-error *ngIf="hasError('url', 'maxlength')">Максимальное количество символов 120!</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group text-right">
    <button mat-button (click)="onCancelClick()">Отмена</button>
    <button mat-raised-button color="primary" cdkFocusInitial [disabled]="!changeCompanyForm.valid"
      (click)="changeCompany()">Сохранить</button>
  </div>
</form>
