.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.comment-avatar {
  width: 72px;
  margin: 5px;
}

.comment-date {
  position: absolute;
  right: 10px;
  top: 0;
}

.comment-body {
  position: relative;
}

.comment-body {
  overflow-wrap: break-word;
}

.comment-header {
  color: gray;
}
