<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12" style="background: transparent">
      <app-change-avatar></app-change-avatar>
    </div>
    <div class="col-md-6 col-sm-12" style="background: transparent">
      <app-change-personal-data></app-change-personal-data>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 offset-md-6 col-sm-12 mb-5" style="background: transparent">
      <app-change-password></app-change-password>
    </div>
  </div>
</div>
