<mat-card>
  <mat-card-header>
    <h4>Смена пароля</h4>
  </mat-card-header>

  <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="changePassword()">
    <mat-form-field class="full-width">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Текущий пароль" formControlName="oldPassword"
        name="oldPassword" id="oldPassword" autocomplete="off" required />
      <button mat-button *ngIf="model.oldPassword" matSuffix mat-icon-button aria-label="Clear"
        (click)="model.oldPassword=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="hasError('oldPassword', 'required')">Поле обязательное</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Новый пароль" formControlName="password"
        name="password" id="password" autocomplete="off" required />
      <button mat-button *ngIf="model.password" matSuffix mat-icon-button aria-label="Clear"
        (click)="model.password=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="hasError('password', 'required')">Поле обязательное</mat-error>
      <mat-error *ngIf="hasError('password', 'pattern')">
        Пароль должен содержать буквы в верхнем и нижнем регистре, числа и разрешенные символы (!@#$%^&*). И иметь длину
        не меньше 8 символов.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Подтвердите пароль"
        formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" autocomplete="off" required />
      <button mat-button *ngIf="model.confirmPassword" matSuffix mat-icon-button aria-label="Clear"
        (click)="model.confirmPassword=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="hasError('confirmPassword', 'ConfirmPassword') || hasError('confirmPassword', 'required')">
        Пароли не совпадают
      </mat-error>
    </mat-form-field>
    <div class="form-group text-right">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Изменить</button>
    </div>
  </form>
</mat-card>
